body {
  background-color: #515151;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10%;
  padding-right: 10%;
}

.contentBox {
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 5px 5px black;
  font-size: 20px;
  margin-top: 10px;
  padding: 2px 10px 20px 30px;
  text-shadow: 1px 1px #2fafaf;
}

.hidden {
  display: none;
}

.survey {
  border-radius: 15px;
  border-color: #a8a8a8;
  border-style: inset;
  border-top: none;
  border-left: none;
  margin: 10px;
  padding: 10px;
}

h1.contentBox, h1 {
  background-color: lightgrey;
  font-size: 35px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px darksalmon;
}

#button {
  background-color: darksalmon;
  border: 3px solid #a8a8a8;
  border-radius: 50px;
  border-style: outset;
  border-top: none;
  border-left: none;
  font-size: 20px;
  font-weight: bold;
  padding:10px;
  animation-name: btn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes btn {
  0% {background-color: darksalmon;}
  50% {background-color: #2fafaf;}
  100% {background-color: darksalmon;}
}
